<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @animal.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @animal.email %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
