<div class="container">
  <%= form_tag do %>
    <div class='row'>
      <%= label_tag 'First Name' %>
      <%= text_field_tag 'first_name', @candidate.first_name %>
    </div>
    <div class='row'>
       <%= label_tag 'Last Name' %>
      <%= text_field_tag 'last_name', @candidate.last_name %>
    </div>
    <div class='row'>
       <%= label_tag 'Age' %>
      <%= text_field_tag 'age', @candidate.age %>
    </div>
    <div class='row'>
      <%= label_tag 'DOB' %>
      <%= date_field_tag 'dob', @candidate.dob %>
    </div>
    <div class='row'>
      <%= label_tag 'Married' %>
      <%= radio_button_tag(:is_married, "Yes") %>
      <%= label_tag(:is_married, "Yes") %>
      <%= radio_button_tag(:is_married, "No") %>
      <%= label_tag(:is_married, "No") %>

    </div>
    <%= submit_tag  %>
  <% end %>
</div>
